.blogCardContiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  gap: 20px;
}
.latesBContiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
