.featuredCardBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1100px;
  min-width: 300;
  padding: 50px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  gap: 1rem;
}
.featuredCardBox img {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.featuredCardBox button {
  border: 0;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-color: #fff;
}
.discription {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 20px;
}
.featuredCardBox h3 {
  font-size: 1.3rem;
  font-weight: 300;
}
.featuredCardBox p {
  font-size: 0.9rem;
  font-weight: 100;
}

@media (max-width: 790px) {
  .featuredCardBox {
    flex-direction: column;
    width: 100%;
    max-width: 500;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
  }
  .featuredCardBox img {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .discription {
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
  }
}
